:root {
  /* COLOR */
  --backdrop-black-alpha: rgba(32, 32, 32, 0.65);
  --gray-scale-ndg-100: rgb(240, 240, 240);
  --gray-scale-ndg-1000-text: rgb(32, 32, 32);
  --gray-scale-ndg-200: rgb(242, 242, 242);
  --gray-scale-ndg-300: rgb(223, 223, 223);
  --gray-scale-ndg-400: rgb(211, 211, 211);
  --gray-scale-ndg-500: rgb(200, 200, 200);
  --gray-scale-ndg-600: rgb(178, 178, 178);
  --gray-scale-ndg-700: rgb(134, 134, 134);
  --gray-scale-ndg-800: rgb(83, 83, 83);
  --gray-scale-ndg-900: rgb(63, 63, 63);
  --pink-ndg-100: rgb(252, 239, 243);
  --pink-ndg-1000: rgb(45, 19, 27);
  --pink-ndg-200: rgb(249, 223, 231);
  --pink-ndg-300: rgb(243, 190, 206);
  --pink-ndg-400: rgb(238, 158, 182);
  --pink-ndg-500: rgb(232, 125, 157);
  --pink-ndg-600: rgb(226, 93, 133);
  --pink-ndg-700: rgb(181, 74, 106);
  --pink-ndg-800: rgb(136, 56, 80);
  --pink-ndg-900: rgb(90, 37, 53);
  --sand-ndg-100: rgb(249, 248, 245);
  --sand-ndg-1000: rgb(28, 26, 22);
  --sand-ndg-200: rgb(243, 241, 237);
  --sand-ndg-300: rgb(238, 236, 230);
  --sand-ndg-400: rgb(233, 228, 216);
  --sand-ndg-500: rgb(210, 200, 177);
  --sand-ndg-600: rgb(179, 167, 141);
  --sand-ndg-700: rgb(139, 130, 110);
  --sand-ndg-800: rgb(100, 93, 79);
  --sand-ndg-900: rgb(60, 56, 47);
  --white-color-white: rgb(255, 255, 255);
  --yellow-ndg-100: rgb(254, 248, 230);
  --yellow-ndg-1000: rgb(48, 36, 0);
  --yellow-ndg-200: rgb(252, 240, 204);
  --yellow-ndg-300: rgb(250, 225, 153);
  --yellow-ndg-400: rgb(247, 211, 102);
  --yellow-ndg-500: rgb(245, 196, 51);
  --yellow-ndg-600: rgb(242, 181, 0);
  --yellow-ndg-700: rgb(194, 145, 0);
  --yellow-ndg-800: rgb(145, 109, 0);
  --yellow-ndg-900: rgb(97, 72, 0);
  --darkblue-ndg-100: rgb(232, 236, 245);
  --darkblue-ndg-1000: rgb(6, 12, 32);
  --darkblue-ndg-200: rgb(210, 216, 236);
  --darkblue-ndg-300: rgb(164, 177, 216);
  --darkblue-ndg-400: rgb(119, 138, 197);
  --darkblue-ndg-500: rgb(73, 99, 177);
  --darkblue-ndg-600: rgb(28, 60, 158);
  --darkblue-ndg-700: rgb(22, 48, 126);
  --darkblue-ndg-800: rgb(17, 36, 95);
  --darkblue-ndg-900: rgb(11, 24, 63);
  --green-ndg-100: rgb(239, 248, 240);
  --green-ndg-1000: rgb(28, 65, 34);
  --green-ndg-200: rgb(223, 241, 226);
  --green-ndg-300: rgb(190, 227, 196);
  --green-ndg-400: rgb(158, 214, 167);
  --green-ndg-500: rgb(125, 200, 137);
  --green-ndg-600: rgb(93, 186, 108);
  --green-ndg-700: rgb(70, 163, 84);
  --green-ndg-800: rgb(56, 130, 68);
  --green-ndg-900: rgb(42, 97, 51);
  --indigo-purple-ndg-100: rgb(243, 237, 253);
  --indigo-purple-ndg-1000: rgb(27, 14, 47);
  --indigo-purple-ndg-200: rgb(231, 218, 251);
  --indigo-purple-ndg-300: rgb(207, 181, 247);
  --indigo-purple-ndg-400: rgb(184, 144, 242);
  --indigo-purple-ndg-500: rgb(160, 107, 238);
  --indigo-purple-ndg-600: rgb(136, 68, 236);
  --indigo-purple-ndg-700: rgb(109, 56, 187);
  --indigo-purple-ndg-800: rgb(82, 42, 140);
  --indigo-purple-ndg-900: rgb(54, 28, 94);
  --light-blue-ndg-100: rgb(240, 250, 254);
  --light-blue-ndg-1000: rgb(20, 40, 49);
  --light-blue-ndg-200: rgb(224, 244, 253);
  --light-blue-ndg-300: rgb(193, 233, 252);
  --light-blue-ndg-400: rgb(162, 222, 250);
  --light-blue-ndg-500: rgb(131, 211, 249);
  --light-blue-ndg-600: rgb(100, 200, 247);
  --light-blue-ndg-700: rgb(80, 160, 198);
  --light-blue-ndg-800: rgb(60, 120, 148);
  --light-blue-ndg-900: rgb(40, 80, 99);
  --mint-ndg-100: rgb(244, 251, 249);
  --mint-ndg-1000: rgb(28, 43, 39);
  --mint-ndg-200: rgb(232, 247, 243);
  --mint-ndg-300: rgb(209, 240, 231);
  --mint-ndg-400: rgb(186, 232, 219);
  --mint-ndg-500: rgb(163, 225, 207);
  --mint-ndg-600: rgb(140, 217, 195);
  --mint-ndg-700: rgb(112, 174, 156);
  --mint-ndg-800: rgb(84, 130, 117);
  --mint-ndg-900: rgb(56, 87, 78);
  --orange-ndg-100: rgb(251, 239, 228);
  --orange-ndg-1000: rgb(43, 23, 5);
  --orange-ndg-200: rgb(247, 225, 205);
  --orange-ndg-300: rgb(240, 198, 159);
  --orange-ndg-400: rgb(232, 171, 113);
  --orange-ndg-500: rgb(225, 144, 67);
  --orange-ndg-600: rgb(216, 117, 24);
  --orange-ndg-700: rgb(173, 93, 19);
  --orange-ndg-800: rgb(129, 70, 14);
  --orange-ndg-900: rgb(86, 47, 10);
  --red-ndg-100: rgb(250, 236, 236);
  --red-ndg-1000: rgb(42, 13, 13);
  --red-ndg-200: rgb(246, 217, 217);
  --red-ndg-300: rgb(236, 179, 179);
  --red-ndg-400: rgb(227, 141, 141);
  --red-ndg-500: rgb(217, 103, 103);
  --red-ndg-600: rgb(208, 65, 65);
  --red-ndg-700: rgb(166, 52, 52);
  --red-ndg-800: rgb(125, 39, 39);
  --red-ndg-900: rgb(83, 26, 26);
  --salmon-ndg-100: rgb(253, 245, 243);
  --salmon-ndg-1000: rgb(47, 31, 27);
  --salmon-ndg-200: rgb(251, 235, 231);
  --salmon-ndg-300: rgb(248, 214, 207);
  --salmon-ndg-400: rgb(244, 194, 183);
  --salmon-ndg-500: rgb(241, 173, 159);
  --salmon-ndg-600: rgb(237, 153, 135);
  --salmon-ndg-700: rgb(190, 122, 108);
  --salmon-ndg-800: rgb(142, 92, 81);
  --salmon-ndg-900: rgb(95, 61, 54);
  --white-alpha-100: rgba(252, 253, 255, 0.05);
  --white-alpha-1000: rgba(255, 253, 251, 0.96);
  --white-alpha-200: rgba(252, 253, 255, 0.1);
  --white-alpha-300: rgba(252, 253, 255, 0.2);
  --white-alpha-400: rgba(252, 253, 255, 0.3);
  --white-alpha-500: rgba(252, 253, 255, 0.4);
  --white-alpha-600: rgba(252, 253, 255, 0.5);
  --white-alpha-700: rgba(252, 253, 255, 0.6);
  --white-alpha-800: rgba(252, 253, 255, 0.7);
  --white-alpha-900: rgba(255, 255, 255, 0.85);
}
